<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    
    <%-include('partials/nav.ejs')%>
    
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, placeat laborum accusamus saepe provident laboriosam impedit molestiae explicabo illo repellendus debitis iusto, perspiciatis ipsum corporis ipsa, 
        voluptas quos eligendi unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas incidunt deleniti natus rem ipsa, ipsum atque provident excepturi unde, perspiciatis cumque iusto aliquid aut laudantium 
        alias quibusdam ut modi ab. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, assumenda. Deserunt, consequuntur? Est incidunt maxime doloribus consectetur velit tempore iste quos, cumque corporis 
        pariatur deserunt debitis dolorum quam ad harum?</p>
    
    <%-include('partials/footer.ejs')%>
    
</body>
</html>
